/*  HTML5 ✰ Boilerplate  */

@font-face {
    font-family: 'BMBilboINC';
    src: url('/css/fonts/bilboinc-Benj.eot');
    src: url('/css/fonts/bilboinc-Benj.eot?#ie') format('embedded-opentype'),
         url('/css/fonts/bilboinc-Benj.woff') format('woff'),
         url('/css/fonts/bilboinc-Benj.ttf') format('truetype'),
         url('/css/fonts/bilboinc-Benj.svg#BilboINCRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BMVollkorn';
    src: url('/css/fonts/vollkorn-bold-Benj.eot');
    src: url('/css/fonts/vollkorn-bold-Benj.eot?#ie') format('embedded-opentype'),
         url('/css/fonts/vollkorn-bold-Benj.woff') format('woff'),
         url('/css/fonts/vollkorn-bold-Benj.ttf') format('truetype'),
         url('/css/fonts/vollkorn-bold-Benj.svg#VollkornBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'BMVollkorn';
    src: url('/css/fonts/vollkorn-italic-Benj.eot');
    src: url('/css/fonts/vollkorn-italic-Benj.eot?#ie') format('embedded-opentype'),
         url('/css/fonts/vollkorn-italic-Benj.woff') format('woff'),
         url('/css/fonts/vollkorn-italic-Benj.ttf') format('truetype'),
         url('/css/fonts/vollkorn-italic-Benj.svg#VollkornItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'BMVollkorn';
    src: url('/css/fonts/vollkorn-regular-Benj.eot');
    src: url('/css/fonts/vollkorn-regular-Benj.eot?#ie') format('embedded-opentype'),
         url('/css/fonts/vollkorn-regular-Benj.woff') format('woff'),
         url('/css/fonts/vollkorn-regular-Benj.ttf') format('truetype'),
         url('/css/fonts/vollkorn-regular-Benj.svg#VollkornRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:16px/1.5 BMVollkorn, Georgia, serif;}
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin-left: 3em; list-style: disc inside; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 100%; opacity: 0.6;}
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF4444; color:#fff; text-shadow: none; }
::selection { background:#FF4444; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF4444; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #222; }
a { color: #444; }
a:visited { color: #777; }
a:hover, a:focus, a:active { color: #000; }
a:focus, a:active { text-decoration: underline; }

/**
 * Benj’ blog, main styles
 *
 * @author Benjamin MENANT
 *
 * Summary
 * *******
 * 1..........Header
 * 2..........Footer
 * 3..........Content
 *  3.1.......Index (post's list, home page)
 *  3.2.......Post (post page)
 *    3.2.1...Comments
 *  3.4.......Page (generic)
 * 4..........Common (common styles)
 * ...........
 * 5..........Mobiles
 *  5.1.......IEMobile
 *  5.2.......MediaQueries (small screens)
 *
 * Typography
 * **********
 * Texts    : Vollkorn Regular, body at 16px and line at 24px
 *  Emphase : Vollkorn Italic
 *  Strong  : Vollkorn Bold
 * Titles   : BilboINC Regular, body and line at 72px
 * Subtitles: BilboINC Regular, body and line at 48px
 * Aside    : Vollkorn Italic,  body at 13px and line at 16px
 *
 * Metric : (px) = (rem)
 * *********************
 * Base   :  24  =  1.5
 * Demi   :  12  =  0.75
 * Quart  :   6  =  0.375
 * Double :  48  =  3
 * Rupture:  36  =  2.25
 * Triple :  72  =  4.5
 *
 * Color
 * *****
 * Text   : #444444
 *  Strong: #222222
 * Title  : #222222
 *
 * @todo There are too much colors in here…
 *
 */

body {
  width     : auto;
  max-width : 960px;
  min-width : 700px;
  margin    : 0 auto 1.5em;
}

/**
 * Header
 * 1=header
 */
#header {
    z-index   : 2;
    margin-top: 1.5em;
}
  .description {
    font  : italic 0.813em/1.231 BMVollkorn, Georgia, serif;
    margin: 0.923em 1.846em 3.692em;
  }
  #header li a {
    display       : inline-block;
    margin-bottom : 0.5em;
    padding-bottom: 0.75em;
  }
  .ie7 #header li a,
  .iem #header li a {
    margin-bottom: 1.5em;
  }
  .borderimage #header li a {
    padding-bottom: 0.25em;
    border-width  : 0;
    border-bottom : dotted 0.5em #FFF;
  }
  #header li.active a {
    text-decoration: line-through;
  }

/**
 * Footer
 * 2=footer
 */
    a.github:before {
      background-position: 0 -60px;
    }
    a.creative-commons:before {
      background-position:  0 -36px;
    }

/**
 * Content
 * 3=content
 */
#contenu {
  float       : left;
  width       : 61.8%;
  padding-top : 1.5em;
}
#contenu > div {
  margin: 0 1.5em;
}
  #contenu abbr.acronym {
    font-size     : 0.94em;
    text-transform: uppercase;
  }
    #contenu abbr span:not(:last-child) {
      margin-right: 0.1em;
    }
    .typo-ph {
      margin-left: 0.12em;
    }
    .typo-go {
      margin-right: 0.07em;
    }
    .typo-gf {
      margin-left: 0.07em;
    }

/**
 * List of posts
 * 3.1=index
 */
section#contenu h1 {
  font  : normal 3em/1 BMBilboINC, sans-serif;
  margin: 1.5em 0 0.5em;
}
section#contenu ul,
section#contenu li {
  margin          : 0;
  list-style      : none;
  list-style-image: none;
}
section#contenu li {
  margin  : 0 0 2em;
  padding : 0 0 2em;
}
.borderimage section#contenu li {
  border-bottom : 1.5em dotted #FFFFFF;
  border-width  : 0 0 1.5em;
  padding-bottom: 0.5em;
}
  section#contenu li div,
  section#contenu li time {
    -moz-transition   : color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition     : color 0.5s;
    -ms-transition    : color 0.5s;
    transition        : color 0.5s;
  }
  section#contenu li div {
    float     : right;
    max-width : 50%;
    color     : #fff;
  }
  section#contenu li time {
    color: #CCC; color: rgba(0, 0, 0, 0.2);
  }
    section#contenu li a {
      display: block;
    }
    section#contenu a:visited {
      text-decoration: none;
    }
    /* Display the date on interaction */
    section#contenu a:focus ~ div,
    section#contenu a:focus ~ div time,
    section#contenu a:active ~ div,
    section#contenu a:active ~ div time,
    section#contenu li:hover div,
    section#contenu li:hover time {
      color: #444;
    }
  /* Character's images replacement */
  section#contenu .iir {
    width           : 1.5em;
    height          : 1.5em;
    margin-right    : 0.375em;
    background-image: url('/assets/sprite_24x227x24+11.png');
  }
  .ie7 section#contenu .iir,
  .iem section#contenu .iir {
    float: left;
  }

/**
 * Post's content
 * 3.2=post
 */
article h2 {
  font      : normal 3em/1 BMBilboINC, sans-serif;
  margin-top: 1em;
}
article h3 {
  font      : normal 1.5em/1 BMBilboINC, sans-serif;
  margin-top: 1em;
}
article h1.argument {
  margin-bottom : 0.167em;
  padding       : 0 0 0.5em;
  background    : url('/assets/filet_24x24.png') 0 100% repeat-x;
}
article q,
article cite{
    font-style: italic;
}
article aside{
  text-align: center;
}
article p.argument {
  margin        : 0.75em 0;
  padding-bottom: 3em;
  font-style    : italic;
  background    : url('/assets/filet_24x24.png') 0 100% repeat-x;
}
article .personnages {
  margin    : 0 0 1.5em;
  padding   : 0 0 2.25em;
  text-align: center;
  background: url('/assets/filet_24x24.png') 0 100% repeat-x;
}
.borderimage article h1.argument {
  padding-bottom: 0.167em;
}
.borderimage article p.argument {
  padding-bottom: 1.5em;
}
.borderimage article .personnages {
  padding-bottom: 0.75em;
}
.borderimage article .argument,
.borderimage article .personnages {
  border-width        : 0;
  border-bottom       : dotted 1.5em #fff;
  -moz-border-image   : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -moz-border-image   : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  -webkit-border-image: url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -webkit-border-image: url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  -o-border-image     : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -o-border-image     : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  border-image        : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  border-image        : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  background          : none;
}
.borderimage article h1.argument {
  border-bottom-width: 0.333em;
}
  /* Character's images replacement */
  article header .iir {
    min-width         : 120px;
    width             : 30%;
    height            : 120px;
    margin            : 0.375em;
    -moz-transition   : all 6s ease-in-out;
    -webkit-transition: all 6s ease-in-out;
    -o-transition     : all 6s ease-in-out;
    -ms-transition    : all 6s ease-in-out;
    transition        : all 6s ease-in-out;
  }
  article header .le-chat,
  article header .chat {
    background: url('/assets/chat_120x120.png') no-repeat 50% 50%;
  }
  article header .le-robot,
  article header .robot {
    background: url('/assets/robot_120x120.png') no-repeat 50% 50%;
  }
  article header .le-cosmonaute,
  article header .cosmonaute {
    background: url('/assets/cosmonaute_120x120.png') no-repeat 50% 50%;
  }
  article header .la-taupe,
  article header .taupe {
    background: url('/assets/taupe_120x120.png') no-repeat 50% 50%;
  }
  article header .iir:hover {
    -moz-transform          : rotate(10080deg);
    -moz-transform-origin   : 45% 52%;
    -webkit-transform       : rotate(10080deg);
    -webkit-transform-origin: 45% 52%;
    -o-transform            : rotate(10080deg);
    -o-transform-origin     : 45% 52%;
    -ms-transform           : rotate(10080deg);
    -ms-transform-origin    : 45% 52%;
    transform               : rotate(10080deg);
    transform-origin        : 45% 52%;
  }
  article p {
    margin        : 0.75em 0;
    padding-left  : 1.5em;
    padding-right : 1.5em;
  }
    /**
     * Répliques
     * @see .iir (inline image replacement)
     */
    article b {
      width           : 1.5em;
      height          : 1.5em;
      background-image: url('/assets/sprite_24x227x24+11.png');
    }
    .ie7 article b,
    .iem article b {
      display     : block;
      float       : left;
      margin-right: 0.375em;
    }
    /**
     * Didascalies
     */
    article i,
    article figcaption,
    article em {
      font-style  : italic;
      line-height : 1.25;
    }
    article .didascalie,
    article figure {
      margin: 2.25em 0 2em;
    }
    article i q,
    article i strong {
      font-style: normal;
    }
    article .illustration,
    article figure {
      padding   : 0;
      text-align: center;
    }
    article .illustration img,
    article figure img,
    article pre {
      display               : block;
      margin                : 0 auto 0.75em;
      max-height            : 550px;
      max-width             : 550px;
      -moz-border-radius    : 0.75em;
      -webkit-border-radius : 0.75em;
      border-radius         : 0.75em;
      -moz-box-shadow       : inset 0 0 0 1px rgba(0,0,0,0.8), 0 0 0.375em #000;
      -webkit-box-shadow    : inset 0 0 0 1px rgba(0,0,0,0.8), 0 0 0.375em #000;
      box-shadow            : inset 0 0 0 1px rgba(0,0,0,0.8), 0 0 0.3753em #000;
    }
    pre {
      padding         : 0.75em 1.5em;
      text-align      : left;
      color           : #DDD;
      background-color: #222;
    }
      code {
        display     : block;
        padding-left: 0.375em;
        border-left : 0.375em solid #000;
      }
        code .lineno {
          padding     : 0 0.375em;
          margin-right: -0.375em;
          font-weight : bold;
          color       : #888;
          background  : none repeat scroll 0 0 #000000;
        }
  /* Article's footer */
  article footer {
    margin: 3em 0;
  }
  article footer,
  article footer:before {
    margin  : 0 0 0.75em;
    padding : 0 0 2.25em;
  }
  .borderimage article footer,
  .borderimage article footer:before {
    border-bottom : 1.5em dotted #FFFFFF;
    border-width  : 0 0 1.5em;
    padding-bottom: 0.75em;
  }
  article footer:before {
    content : '';
    display : block;
    height  : 0;
    width   : 100%;
  }
  article footer p {
    margin  : 0;
    padding : 0;
  }
  article footer > p:first-child {
    float     : left;
    max-width : 50%;
  }
    article footer small {
      display: block;
    }
      article footer small:first-letter {
        text-transform: uppercase;
      }
  article footer address,
  article footer address + p {
    text-align: right;
  }
  article footer address .has-icon:before,
  .has-icon.author:before {
    background-position : 0 -83px;
  }
  .sources {
    clear     : both;
    margin-top: 0.75em;
    text-align: right;
  }
    .sources p {
      display         : inline-block;
      vertical-align  : top;
      text-decoration : underline;
      cursor          : pointer;
    }
      .sources p:not(.active) span {
        display : inline-block;
        overflow: hidden;
        height  : 0;
        width   : 0;
      }
      .ie7 .sources p span,
      .iem .sources p span {
        display : inline;
        zoom    : 1;
        overflow: hidden;
        height  : 0;
        width   : 0;
      }
      .ie8 .sources p span {
        display : inline-block;
        overflow: hidden;
        height  : 0;
        width   : 0;
      }
      .ie7 .sources p.active span,
      .iem .sources p.active span {
        zoom: 0;
      }
      .ie8 .sources p.active span {
        display: inline !important;
      }
      .sources p.active {
        text-decoration : none;
        cursor          : text;
      }
    #sources {
      display           : inline-block;
      vertical-align    : bottom;
      overflow          : hidden;
      margin            : 0 0 0 -4px;
      max-width         : 0;
      max-height        : 1.5em;
      -moz-transition   : max-width 0.4s, opacity 0.4s, max-height 0.4s 0.4s;
      -webkit-transition: width 0.4s, opacity 0.4s;
      -o-transition     : width 0.4s, opacity 0.4s;
      -ms-transition    : width 0.4s, opacity 0.4s;
      transition        : width 0.4s, opacity 0.4s;
      opacity           : 0;
    }
    .ie7 #sources,
    .iem #sources {
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
      #sources li {
        display   : inline;
        list-style: none;
      }
    #sources.active {
      margin    : 0;
      max-width : 50%;
      max-height: 100%;
      opacity   : 1;
    }
    .ie7 #sources.active,
    .iem #sources.active {
      filter: none;
    }
  .showcomments {
    clear     : both;
    margin-top: 1.5em;
  }
  .sources ~ .showcomments {
    margin-top: 0.75em;
  }
    .showcomments a {
      display: block;
      text-transform: capitalize;
    }
    p.showcomments.active a {
      text-decoration: line-through;
    }
    .showcomments span {
      float         : right;
      margin-top    : 1em;
      font          : 0.333em/2 BMVollkorn, Georgia, serif;
      text-shadow   : none;
      text-transform: lowercase;
      color         : #444;
      opacity       : 0;
    }
      .showcomments span:before {
        content: '(Les ';
      }
      .showcomments span:after {
        content: ' tous)';
      }
    .showcomments.active span {
      display: none;
    }

  /**
   * Comments
   * 3.2.1=comments
   */
  #commentaires {
    min-height: 10em;
  }
  .showcomments span {
    -moz-transition   : all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition     : all 0.5s;
    -ms-transition    : all 0.5s;
    transition        : all 0.5s;
    opacity           : 0;
  }
  .ie7 .showcomments span {
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  }
  .ie8 .showcomments span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  }
  .showcomments:hover span {
    opacity: 1;
  }
  .ie7 .showcomments:hover span {
    zoom: 0;
    filter: none;
  }
  .ie8 .showcomments:hover span {
    -ms-filter: "" !important;
  }

/**
 * Pages
 * 3.3=pages
 */
/* Page à propos */
.a-propos > * {
    display: inline;
}
.a-propos dd + dt:before {
    display   : block;
    margin-top: 0.75em;
    content   : '';
}
.a-propos em {
    font-style: italic;
}


/**
 * Common styles
 * 4=common
 */

.has-icon:before {
  content           : '';
  display           : inline-block;
  vertical-align    : bottom;
  width             : 1.6em;
  height            : 1.5em;
  background-color  : #fff;
  background-image  : url('/assets/sprite_24x227x24+11.png');
  background-repeat : no-repeat;
}
#footer,
#header {
  position  : relative;
  float     : right;
  width     : 38.2%;
  text-align: right;
}
  #footer > *,
  #header > * {
    margin-right: 7%;
    margin-right: 1.5rem;
  }

header h1 {
  font: normal 4.5em/1 BMBilboINC, sans-serif;
}
#header a:link,
#header a:visited,
section#contenu a:link,
.showcomments a:link,
.showcomments a:visited {
  -moz-transition   : all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition     : all 0.1s;
  -ms-transition    : all 0.1s;
  transition        : all 0.1s;
  text-decoration   : none;
  color             : #222;
}
  #header a:hover,
  #header a:focus,
  #header a:active,
  section#contenu a:hover,
  section#contenu a:focus,
  section#contenu a:active,
  .showcomments a:hover,
  .showcomments a:focus,
  .showcomments a:active {
    text-shadow     : 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
    outline         : none;
    text-decoration : underline;
  }

#header li a,
section#contenu li,
article footer:before,
article footer {
  background: url('/assets/filet_24x24.png') 0 100% repeat-x;
}
.borderimage #header li a,
.borderimage section#contenu li,
.borderimage article footer:before,
.borderimage article footer {
  -moz-border-image   : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -moz-border-image   : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  -webkit-border-image: url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -webkit-border-image: url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  -o-border-image     : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  -o-border-image     : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  border-image        : url('/assets/sprite_24x227x24+11.png') 203 0 24 round;
  border-image        : url('/assets/sprite_24x227x24+11.png') 203 0 24 space;
  background          : none;
}
  #header li a,
  section#contenu li a,
  .showcomments a {
    font: normal 3em/1 BMBilboINC, sans-serif;
  }
/* Characters image replacement (20x20) */
article b.le-chat,
article b.chat,
section#contenu .le-chat,
section#contenu .chat {
  background-position: 0 -131px;
}
article b.le-robot,
article b.robot,
section#contenu .le-robot,
section#contenu .robot {
  background-position: 0 -179px;
}
article b.le-cosmonaute,
article b.cosmonaute,
section#contenu .le-cosmonaute,
section#contenu .cosmonaute  {
  background-position: 0 -155px;
}
article b.la-taupe,
article b.taupe,
section#contenu .la-taupe,
section#contenu .taupe {
  background-position: 0 -107px;
}



.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.iir,
article b { display: inline-block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; vertical-align: bottom; }
.ie7 .iir,
.iem .iir,
.ie7 article b,
.iem article b {
  display : inline;
  zoom    : 1;
}
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/**
 * Mobiles
 * 5=mobiles
 */

  /**
   * IE mobile (windows phone 7)
   * 5.1=IEMobile
   */
  .iem body {
    max-width: none;
    min-width: 0;
  }
  .iem #header,
  .iem #footer,
  .iem #contenu {
    float: none;
    width: auto;
  }
    .iem #header > *,
    .iem #footer > *,
    .iem #contenu > div {
      margin: 0 5%;
    }
    .iem section#contenu h1,
    .iem #footer h2 {
      clip    : auto;
      height  : auto;
      position: static;
      width   : auto;
    }
    .iem article + #header h1 {
      margin-top: 0.75em;
    }

  /**
   * Mobiles (Media Queries)
   * 5.2=mediaqueries
   *
   * For screen's or window's width lower than 700px.
   */
@media screen and (max-width:700px) {
  html {
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust    :none;
  }
  body {
    max-width : none;
    min-width : 0;
  }
  #header,
  #footer,
  #contenu {
    float: none;
    width: auto;
  }
    #header > *,
    #footer > *,
    #contenu > div {
      margin-top: 5%;
      margin-bottom: 5%;
    }
    section#contenu h1,
    #footer h2 {
      clip    : auto;
      height  : auto;
      position: static;
      width   : auto;
    }
  article + #header h1 {
    margin-top: 0.75em;
  }
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
