/*  HTML5 ✰ Boilerplate  */

@font-face {
  font-family: 'Benj_CartoGothicStdBook';
  src: url('/css/fonts/CartoGothicStd-Book-webfont.eot');
  src: url('/css/fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
       url('/css/fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
       url('/css/fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Benj_CartoGothicStdItalic';
  src: url('/css/fonts/CartoGothicStd-Italic-webfont.eot');
  src: url('/css/fonts/CartoGothicStd-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/CartoGothicStd-Italic-webfont.woff') format('woff'),
       url('/css/fonts/CartoGothicStd-Italic-webfont.ttf') format('truetype'),
       url('/css/fonts/CartoGothicStd-Italic-webfont.svg#CartoGothicStdItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:16px/1.25 Benj_CartoGothicStdBook, sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
 * Benj’ blog, main styles
 *
 * @author Benjamin MENANT
 * @todo Do the work!
*/

body {
  max-width : 960px;
  margin    : 1.25em auto;

}

/**
 * Header =header
 */
  header h1 {
    /*
    margin-bottom : 0.208em;
    padding-bottom: 0.625em;*/
    font          : normal 3em/1.25 Neucha, cursive, sans-serif;
    /*background    : url('/assets/filet_20x20.png') 0 100% repeat-x;*/
  }/*
  .borderimage header h1 {
    margin-bottom       : 0.208em;
    padding-bottom      : 0;
    border              : dotted 20px #000;
    border-width        : 0 0 20px;
    -moz-border-image   : url('/assets/filet_20x20.png') 0 0 20 round;
    -webkit-border-image: url('/assets/filet_20x20.png') 0 0 20 round;
    -o-border-image     : url('/assets/filet_20x20.png') 0 0 20 round;
    border-image        : url('/assets/filet_20x20.png') 0 0 20 round;
    background          : none;
  }*/
    h1 a:link,
    h1 a:visited {
      -moz-transition   : color .2s;
      -webkit-transition: color .2s;
      -o-transition     : color .2s;
      -ms-transition    : color .2s;
      transition        : color .2s;
      text-decoration   : none;
      color             : #444;
    }
    h1 a:hover,
    h1 a:focus,
    h1 a:active {
      text-shadow : 0 0 1px;
      outline     : none;
      color       : #000;
    }
  .rss a {
    background-position: 0 -40px;
  }

/**
 * Footer =footer
 */
#footer {
  clear     : right;
  margin-top: 1.231em;
}
  #footer dl > * {
    display: inline;
  }/*
  #footer dt:before {
    display: block;
    content: ' ';
  }*/
    a.github {
      background-position: 0 -20px;
    }
    a.creative-commons {
      background-position:  0 0;
    }

/**
 * Common styles for Header and Footer
 * =header =footer
 */
a.has-icon {
  padding-left      : 22px;
  background-image  : url('/assets/sprite_20x20.png');
  background-repeat : no-repeat;
}
#footer,
#header {
  float     : right;
  width     : 38.2%;
  text-align: right;
}
.description {
  font  : italic 0.813em/1.538 Benj_CartoGothicStdItalic, sans-serif;
  margin: 0 0 1.538em 15% ;
}
#footer > *,
#header > * {
  margin-right: 1.25rem;
}

/**
 * Content
 * =contenu
 */
#contenu {
  float   : left;
  width   : 61.8%;
  overflow: hidden;
}
#contenu > div {
  margin: 0 1.25em;
}

/**
 * List of posts
 * =post =content
 */
section#contenu ul,
section#contenu li {
  margin          : 0;
  list-style      : none;
  list-style-image: none;
}
section#contenu li {
  margin-bottom : 0.625em;
  padding-bottom: 1.875em;
  font          : 1em/1.25 Benj_CartoGothicStdBook, sans-serif;
  background    : url('/assets/filet_20x20.png') 0 100% repeat-x;
}
.borderimage section#contenu li {
  padding-bottom      : 0.625em;
  border              : dotted 20px #000;
  border-width        : 0 0 20px;
  -moz-border-image   : url('/assets/filet_20x20.png') 0 0 20 round;
  -webkit-border-image: url('/assets/filet_20x20.png') 0 0 20 round;
  -o-border-image     : url('/assets/filet_20x20.png') 0 0 20 round;
  border-image        : url('/assets/filet_20x20.png') 0 0 20 round;
  background          : none;
}
  section#contenu a {
    display           : block;
    -moz-transition   : color .2s;
    -webkit-transition: color .2s;
    -o-transition     : color .2s;
    -ms-transition    : color .2s;
    transition        : color .2s;
    font              : normal 2em/1.25 Neucha, cursive, sans-serif;
    text-decoration   : none;
    color             : #444;
  }
    section#contenu a:visited {
      color: #777;
    }
    section#contenu a:hover,
    section#contenu a:focus,
    section#contenu a:active {
      text-shadow : 0 0 1px;
      outline     : none;
      color       : #000;
    }
    section#contenu a:focus {
      text-decoration: underline;
    }
  section#contenu li div,
  section#contenu li time {
    -moz-transition   : color .5s;
    -webkit-transition: color .5s;
    -o-transition     : color .5s;
    -ms-transition    : color .5s;
    transition        : color .5s;
  }
  section#contenu li div {
    float   : right;
    color   : transparent;
  }
  section#contenu li time {
    color: #CCC; color: rgba(0, 0, 0, .2);
  }
    section#contenu a:focus ~ div,
    section#contenu a:focus ~ div time,
    section#contenu a:active ~ div,
    section#contenu a:active ~ div time,
    section#contenu li:hover div,
    section#contenu li:hover time {
      color: #444;
    }
  /* Character's images replacement */
  section#contenu .iir {
    width           : 20px;
    height          : 20px;
    margin-right    : 5px;
    background-image: url('/assets/sprite_20x20.png');
  }
  section#contenu .le-chat {
    background-position: 0 -60px;
  }
  section#contenu .le-robot {
    background-position: 0 -100px;
  }
  section#contenu .le-cosmonaute {
    background-position: 0 -80px;
  }
  section#contenu .la-taupe {
    background-position: 0 -120px;
  }

/**
 * Post's content
 * =post =content
 */
article h1 {
  min-height: 1.25em;
  font: normal 3em/1.0417 Neucha, cursive, sans-serif;
}
article header p {
  margin-bottom : 0.625em;
  padding       : 1.875em 0;
  background    : url('/assets/filet_20x20.png') 0 100% repeat-x;
}
.borderimage article header p {
  padding             : 0.625em 0;
  border              : dotted 20px #000;
  border-width        : 20px 0;
  -moz-border-image   : url('/assets/filet_20x20.png') 20 0 round;
  -webkit-border-image: url('/assets/filet_20x20.png') 20 0 round;
  -o-border-image     : url('/assets/filet_20x20.png') 20 0 round;
  border-image        : url('/assets/filet_20x20.png') 20 0 round;
  background          : none;
}
  /* Character's images replacement */
  article header .iir {
    min-width         : 120px;
    width             : 30%;
    height            : 120px;
    margin            : 0.313em;
    -moz-transition   : all 6s;
    -webkit-transition: all 6s;
    -o-transition     : all 6s;
    -ms-transition    : all 6s;
    transition        : all 6s;
  }
  article header .le-chat,
  article header .chat {
    background: url('/assets/chat_120x120.png') no-repeat 50% 50%;
  }
  article header .le-robot,
  article header .robot {
    background: url('/assets/robot_120x120.png') no-repeat 50% 50%;
  }
  article header .le-cosmonaute,
  article header .cosmonaute {
    background: url('/assets/cosmonaute_120x120.png') no-repeat 50% 50%;
  }
  article header .la-taupe,
  article header .taupe {
    background: url('/assets/taupe_120x120.png') no-repeat 50% 50%;
  }
  article header .iir:hover {
    -moz-transform          : rotate(10080deg);
    -moz-transform-origin   : 45% 52%;
    -webkit-transform       : rotate(10080deg);
    -webkit-transform-origin: 45% 52%;
    -o-transform            : rotate(10080deg);
    -o-transform-origin     : 45% 52%;
    -ms-transform           : rotate(10080deg);
    -ms-transform-origin    : 45% 52%;
    transform               : rotate(10080deg);
    transform-origin        : 45% 52%;
  }

  /* Comments =comments */
  .showme {
    display   : block;
    visibility: visible;
    /* @todo Add transition, here */
  }





.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.iir { display: inline-block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; vertical-align: bottom; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
