/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
 * Benj’ blog, main styles
 *
 * @author Benjamin MENANT
 * @todo Do the work!
*/

body {
  max-width: 960px;
  margin: 2em auto;

}


/**
 * Content
 * =contenu
 */
#contenu {

}

/**
 * List of posts
 * =post =content
 */
section#contenu ul,
section#contenu li {
  margin: 0;
  list-style:none;
  list-style-image: none;
}

/**
 * Post's content
 * =post =content
 */


  /* Comments =comments */
  .showme {
    display: block;
    visibility: visible;
    /* @todo Add transition, here */
  }


/**
 * Header =header
 */
  h1 {
    font: 400 2.462em/1 Neucha, serif;
  }
  .svg .rss a {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20viewBox%3D%2230%2030%20190%20190%22%20preserveAspectRatio%3D%22xMinYMid%20meet%22%3E%3Ccircle%20cx%3D%2268%22%20cy%3D%22189%22%20r%3D%2224%22%2F%3E%3Cpath%20d%3D%22M160%20213h-34a82%2082%200%200%200%20-82%20-82v-34a116%20116%200%200%201%20116%20116z%22%2F%3E%3Cpath%20d%3D%22M184%20213A140%20140%200%200%200%2044%2073%20V%2038a175%20175%200%200%201%20175%20175z%22%2F%3E%3C%2Fsvg%3E%0A');
  }

/**
 * Footer =footer
 */
#footer {
  clear: right;
  margin-top: 1.231em;
}
  #footer dl > * {
    display: inline;
  }
  #footer dt:before {
    display: block;
    content: ' ';
  }
    .svg a.github {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20viewBox%3D%22-0.2%20-1%20379%20334%22%20preserveAspectRatio%3D%22xMinYMid%20meet%22%3E%3Cpath%20id%3D%22puddle%22%20fill%3D%22%239CDAF1%22%20d%3D%22m296.94%20295.43c0%2020.533-47.56%2037.176-106.22%2037.176-58.67%200-106.23-16.643-106.23-37.176s47.558-37.18%20106.23-37.18c58.66%200%20106.22%2016.65%20106.22%2037.18z%22%2F%3E%3Cg%20id%3D%22shadow-legs%22%20fill%3D%22%237DBBE6%22%3E%3Cpath%20d%3D%22m161.85%20331.22v-26.5c0-3.422-.619-6.284-1.653-8.701%206.853%205.322%207.316%2018.695%207.316%2018.695v17.004c6.166.481%2012.534.773%2019.053.861l-.172-16.92c-.944-23.13-20.769-25.961-20.769-25.961-7.245-1.645-7.137%201.991-6.409%204.34-7.108-12.122-26.158-10.556-26.158-10.556-6.611%202.357-.475%206.607-.475%206.607%2010.387%203.775%2011.33%2015.105%2011.33%2015.105v23.622c5.72.98%2011.71%201.79%2017.94%202.4z%22%2F%3E%3Cpath%20d%3D%22m245.4%20283.48s-19.053-1.566-26.16%2010.559c.728-2.35.839-5.989-6.408-4.343%200%200-19.824%202.832-20.768%2025.961l-.174%2016.946c6.509-.025%2012.876-.254%2019.054-.671v-17.219s.465-13.373%207.316-18.695c-1.034%202.417-1.653%205.278-1.653%208.701v26.775c6.214-.544%2012.211-1.279%2017.937-2.188v-24.113s.944-11.33%2011.33-15.105c0-.01%206.13-4.26-.48-6.62z%22%2F%3E%3C%2Fg%3E%3Cpath%20id%3D%22cat%22%20d%3D%22m378.18%20141.32l.28-1.389c-31.162-6.231-63.141-6.294-82.487-5.49%203.178-11.451%204.134-24.627%204.134-39.32%200-21.073-7.917-37.931-20.77-50.759%202.246-7.25%205.246-23.351-2.996-43.963%200%200-14.541-4.617-47.431%2017.396-12.884-3.22-26.596-4.81-40.328-4.81-15.109%200-30.376%201.924-44.615%205.83-33.94-23.154-48.923-18.411-48.923-18.411-9.78%2024.457-3.733%2042.566-1.896%2047.063-11.495%2012.406-18.513%2028.243-18.513%2047.659%200%2014.658%201.669%2027.808%205.745%2039.237-19.511-.71-50.323-.437-80.373%205.572l.276%201.389c30.231-6.046%2061.237-6.256%2080.629-5.522.898%202.366%201.899%204.661%203.021%206.879-19.177.618-51.922%203.062-83.303%2011.915l.387%201.36c31.629-8.918%2064.658-11.301%2083.649-11.882%2011.458%2021.358%2034.048%2035.152%2074.236%2039.484-5.704%203.833-11.523%2010.349-13.881%2021.374-7.773%203.718-32.379%2012.793-47.142-12.599%200%200-8.264-15.109-24.082-16.292%200%200-15.344-.235-1.059%209.562%200%200%2010.267%204.838%2017.351%2023.019%200%200%209.241%2031.01%2053.835%2021.061v32.032s-.943%2011.33-11.33%2015.105c0%200-6.137%204.249.475%206.606%200%200%2028.792%202.361%2028.792-21.238v-34.929s-1.142-13.852%205.663-18.667v57.371s-.47%2013.688-7.551%2018.881c0%200-4.723%208.494%205.663%206.137%200%200%2019.824-2.832%2020.769-25.961l.449-58.06h4.765l.453%2058.06c.943%2023.129%2020.768%2025.961%2020.768%2025.961%2010.383%202.357%205.663-6.137%205.663-6.137-7.08-5.193-7.551-18.881-7.551-18.881v-56.876c6.801%205.296%205.663%2018.171%205.663%2018.171v34.929c0%2023.6%2028.793%2021.238%2028.793%2021.238%206.606-2.357.474-6.606.474-6.606-10.386-3.775-11.33-15.105-11.33-15.105v-45.786c0-17.854-7.518-27.309-14.87-32.3%2042.859-4.25%2063.426-18.089%2072.903-39.591%2018.773.516%2052.557%202.803%2084.873%2011.919l.384-1.36c-32.131-9.063-65.692-11.408-84.655-11.96.898-2.172%201.682-4.431%202.378-6.755%2019.25-.80%2051.38-.79%2082.66%205.46z%22%2F%3E%3Cpath%20id%3D%22face%22%20fill%3D%22%23F4CBB2%22%20d%3D%22m258.19%2094.132c9.231%208.363%2014.631%2018.462%2014.631%2029.343%200%2050.804-37.872%2052.181-84.585%2052.181-46.721%200-84.589-7.035-84.589-52.181%200-10.809%205.324-20.845%2014.441-29.174%2015.208-13.881%2040.946-6.531%2070.147-6.531%2029.07-.004%2054.72-7.429%2069.95%206.357z%22%2F%3E%3Cpath%20id%3D%22eyes%22%20fill%3D%22%23FFF%22%20d%3D%22m160.1%20126.06%20c0%2013.994-7.88%2025.336-17.6%2025.336-9.72%200-17.6-11.342-17.6-25.336%200-13.992%207.88-25.33%2017.6-25.33%209.72.01%2017.6%2011.34%2017.6%2025.33z%20m94.43%200%20c0%2013.994-7.88%2025.336-17.6%2025.336-9.72%200-17.6-11.342-17.6-25.336%200-13.992%207.88-25.33%2017.6-25.33%209.72.01%2017.6%2011.34%2017.6%2025.33z%22%2F%3E%3Cg%20fill%3D%22%23AD5C51%22%3E%3Cpath%20id%3D%22pupils%22%20d%3D%22m154.46%20126.38%20c0%209.328-5.26%2016.887-11.734%2016.887s-11.733-7.559-11.733-16.887c0-9.331%205.255-16.894%2011.733-16.894%206.47%200%2011.73%207.56%2011.73%2016.89z%20m94.42%200%20c0%209.328-5.26%2016.887-11.734%2016.887s-11.733-7.559-11.733-16.887c0-9.331%205.255-16.894%2011.733-16.894%206.47%200%2011.73%207.56%2011.73%2016.89z%22%2F%3E%3Ccircle%20id%3D%22nose%22%20cx%3D%22188.5%22%20cy%3D%22148.56%22%20r%3D%224.401%22%2F%3E%3Cpath%20id%3D%22mouth%22%20d%3D%22m178.23%20159.69c-.26-.738.128-1.545.861-1.805.737-.26%201.546.128%201.805.861%201.134%203.198%204.167%205.346%207.551%205.346s6.417-2.147%207.551-5.346c.26-.738%201.067-1.121%201.805-.861s1.121%201.067.862%201.805c-1.529%204.324-5.639%207.229-10.218%207.229s-8.68-2.89-10.21-7.22z%22%2F%3E%3C%2Fg%3E%3Cpath%20id%3D%22octo%22%20fill%3D%22%23C3E4D8%22%20d%3D%22m80.641%20179.82%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m8.5%204.72%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m5.193%206.14%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m4.72%207.08%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m5.188%206.61%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m7.09%205.66%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m9.91%203.78%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m9.87%200%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%20m10.01%20-1.64%20c0%201.174-1.376%202.122-3.07%202.122-1.693%200-3.07-.948-3.07-2.122%200-1.175%201.377-2.127%203.07-2.127%201.694%200%203.07.95%203.07%202.13z%22%2F%3E%3Cpath%20id%3D%22drop%22%20fill%3D%22%239CDAF1%22%20d%3D%22m69.369%20186.12l-3.066%2010.683s-.8%203.861%202.84%204.546c3.8-.074%203.486-3.627%203.223-4.781z%22%2F%3E%3C%2Fsvg%3E%0A');
    }
    .svg a.creative-commons {
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20baseProfile%3D%22full%22%20viewBox%3D%225.5%20-3.5%2064%2064%22%20preserveAspectRatio%3D%22xMinYMid%20meet%22%3E%3Cg%3E%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%2237.785%22%20cy%3D%2228.501%22%20r%3D%2228.836%22%2F%3E%3Cpath%20d%3D%22M37.441-3.5c8.951%2C0%2C16.572%2C3.125%2C22.857%2C9.372c3.008%2C3.009%2C5.295%2C6.448%2C6.857%2C10.314%20%20%20c1.561%2C3.867%2C2.344%2C7.971%2C2.344%2C12.314c0%2C4.381-0.773%2C8.486-2.314%2C12.313c-1.543%2C3.828-3.82%2C7.21-6.828%2C10.143%20%20%20c-3.123%2C3.085-6.666%2C5.448-10.629%2C7.086c-3.961%2C1.638-8.057%2C2.457-12.285%2C2.457s-8.276-0.808-12.143-2.429%20%20%20c-3.866-1.618-7.333-3.961-10.4-7.027c-3.067-3.066-5.4-6.524-7-10.372S5.5%2C32.767%2C5.5%2C28.5c0-4.229%2C0.809-8.295%2C2.428-12.2%20%20%20c1.619-3.905%2C3.972-7.4%2C7.057-10.486C21.08-0.394%2C28.565-3.5%2C37.441-3.5z%20M37.557%2C2.272c-7.314%2C0-13.467%2C2.553-18.458%2C7.657%20%20%20c-2.515%2C2.553-4.448%2C5.419-5.8%2C8.6c-1.354%2C3.181-2.029%2C6.505-2.029%2C9.972c0%2C3.429%2C0.675%2C6.734%2C2.029%2C9.913%20%20%20c1.353%2C3.183%2C3.285%2C6.021%2C5.8%2C8.516c2.514%2C2.496%2C5.351%2C4.399%2C8.515%2C5.715c3.161%2C1.314%2C6.476%2C1.971%2C9.943%2C1.971%20%20%20c3.428%2C0%2C6.75-0.665%2C9.973-1.999c3.219-1.335%2C6.121-3.257%2C8.713-5.771c4.99-4.876%2C7.484-10.99%2C7.484-18.344%20%20%20c0-3.543-0.648-6.895-1.943-10.057c-1.293-3.162-3.18-5.98-5.654-8.458C50.984%2C4.844%2C44.795%2C2.272%2C37.557%2C2.272z%20M37.156%2C23.187%20%20%20l-4.287%2C2.229c-0.458-0.951-1.019-1.619-1.685-2c-0.667-0.38-1.286-0.571-1.858-0.571c-2.856%2C0-4.286%2C1.885-4.286%2C5.657%20%20%20c0%2C1.714%2C0.362%2C3.084%2C1.085%2C4.113c0.724%2C1.029%2C1.791%2C1.544%2C3.201%2C1.544c1.867%2C0%2C3.181-0.915%2C3.944-2.743l3.942%2C2%20%20%20c-0.838%2C1.563-2%2C2.791-3.486%2C3.686c-1.484%2C0.896-3.123%2C1.343-4.914%2C1.343c-2.857%2C0-5.163-0.875-6.915-2.629%20%20%20c-1.752-1.752-2.628-4.19-2.628-7.313c0-3.048%2C0.886-5.466%2C2.657-7.257c1.771-1.79%2C4.009-2.686%2C6.715-2.686%20%20%20C32.604%2C18.558%2C35.441%2C20.101%2C37.156%2C23.187z%20M55.613%2C23.187l-4.229%2C2.229c-0.457-0.951-1.02-1.619-1.686-2%20%20%20c-0.668-0.38-1.307-0.571-1.914-0.571c-2.857%2C0-4.287%2C1.885-4.287%2C5.657c0%2C1.714%2C0.363%2C3.084%2C1.086%2C4.113%20%20%20c0.723%2C1.029%2C1.789%2C1.544%2C3.201%2C1.544c1.865%2C0%2C3.18-0.915%2C3.941-2.743l4%2C2c-0.875%2C1.563-2.057%2C2.791-3.541%2C3.686%20%20%20c-1.486%2C0.896-3.105%2C1.343-4.857%2C1.343c-2.896%2C0-5.209-0.875-6.941-2.629c-1.736-1.752-2.602-4.19-2.602-7.313%20%20%20c0-3.048%2C0.885-5.466%2C2.658-7.257c1.77-1.79%2C4.008-2.686%2C6.713-2.686C51.117%2C18.558%2C53.938%2C20.101%2C55.613%2C23.187z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A');
      background-size: 58% 100%;
    }

/**
 * Common styles for Header and Footer
 * =header =footer
 */
a.has-icon {
  padding-left: 1.3em;
  background-position: 0 20%;
  background-repeat: no-repeat;
}
#footer,
#header {
  float: right;
  width: 38.2%;
}






.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
