---
layout: nil
title: Le Benj’ Blog
---
{% include header.html %}

	<section id="contenu">
		<h1 class="visuallyhidden">Les dialogues</h1>

		<ul>
			{% for post in site.posts limit:100 %}
			{% if post.standalone == null %}
			<li>
				<time datetime="{{ post.date }}">{{ page.date | date: "%d/%m/%Y" }}</time>
				<a href="{{ post.url }}">{{ post.title }}</a>, avec
				{% for character in post.characters %}
					{% if forloop.rindex0 == 1 %}
					{{ character }} et
					{% elsif forloop.last %}
					{{ character }}.
					{% else %}
					{{ character }},
					{% endif %}
				{% endfor %}
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</section>

{% include footer.html %}
