---
layout: nil
title: Le Benj’ Blog
---
<!doctype html>
<!--[if lt IE 7 ]> <html lang="fr" class="no-js ie6" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="no-js ie7" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="no-js ie8" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fr" class="no-js ie9" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js" dir="ltr"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Le Benj’ Blog, dialogues à propos du Web, de tout et de rien</title>
	<meta name="author" content="Benjamin MENANT" />
	<meta name="description" content="Des personnages imaginaires dialoguent à propos du Web, de ses technologies, de ses usages et d’autres choses, selon les humeurs." />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="stylesheet" href="/css/style.css?v=1" />
	<link rel="author" href="/humans.txt" />

	<script src="/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<header>
		<h1>Le Benj’ Blog</h1>

		<nav id="acces-rapide">
			<h2 class="visuallyhidden">Accès rapides</h2>
			<ul>
				<li><a href="#contenu">Contenu</a></li>
				<li><a href="#navigation">Navigation</a></li>
			</ul>
		</nav>

		<p class="description">
			Le Benj’ blog reccueille les dialogues de personnages imaginaires.
			Ils y échangent librement et ouvertement, principalement à propos du Web,
			de ses technologies et de ses usages.
		</p>

		<nav id="navigation">
			<h2 class="visuallyhidden">Navigation</h2>
			<ul>
				<!-- Lien vers la liste des billets -->
				<li class="active"><a	href="/#contenu"
								title="Liste de tous les dialogues publiés">Dialogues</a></li>
				<!-- Lien vers le portail -->
				<li><a	href="http://menant-benjamin.fr/"
								title="Quelques informations à propos de l’auteur">Benj’</a></li>
				<!-- Flux de syndication -->
				<li class="bouton-rss"><a href="/index.xml">
					<svg viewbox="30 30 190 190">
						<circle cx="68" cy="189" r="24"/>
						<path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z"/>
						<path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z"/>
					</svg>
					Abonnement RSS
				</a></li>
			</ul>
		</nav>
	</header>

	<!-- TODO You have to check if a section is a good choice -->
	<section id="contenu">
		<h1 class="visuallyhidden">Les dialogues</h1>

		<!-- TODO You have to include characters -->
		<ul>
			{% for post in site.posts limit:100 %}
			{% if post.standalone == null %}
			<li><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time><a href="{{ post.url }}">{{ post.title }}</a>
			{% endif %}
			{% endfor %}
		</ul>
	</section>

	<!-- TODO You have to complete these footer links -->
	<footer>
		<p>
			Le Benj’ blog est hébergé sur
			<a href="https://github.com/bmenant/bmenant.github.com" class="github">GitHub Pages</a>.
			Les contenus sont mis à disposition sous licence
			<a href="http://creative-commons.org/" class="creative-commons">Creative Commons</a>.
		</p>
	</footer>

	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>
