---
layout: default
title: Schizologues
---
<h1 class="visuallyhidden">Dialogues</h1>
<ul>
  {% for post in site.posts limit:100 %}
  {% if post.standalone == null %}
  <li>
    <a href="{{ post.url }}/">{{ post.title }}</a><span class="visuallyhidden">, avec</span>
    {% for character in post.characters %}
    <span class="iir {{ character | downcase | replace: ' ', '-' }}">{{ character }}{% if forloop.rindex0 == 1 %} et {% elsif forloop.last %}.{% else %}, {% endif %}</span>
    {% endfor %}
    <div>(Publié le <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d/%m/%Y" }}</time>)</div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
