<!-- Site wide footer -->
<!-- End footer -->
<!-- The Day We Fight Back -->
<!--[if !(lte IE 8)]><!-->
<script>(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=document.location.protocol+"//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()</script>
<!--<![endif]-->
<!-- Daydream script -->
<script>(function(){var a=new Object;a.add=function(b,d,c){if(b.addEventListener){b.addEventListener(d,c,false)}else{if(b.attachEvent){b.attachEvent("on"+d,c)}}};window.setTimeout(function(){var f=document.getElementById("show-sources"),j=document.getElementById("sources"),l=!j||j.getElementsByTagName("a"),h,k=document.getElementById("showcomments"),c=document.getElementById("showcomments-bis"),d=document.getElementById("commentaires"),m=document.getElementById("disqus_script"),i,b;if(f){h=function(){f.className=j.className="active"};a.add(f,"click",h);for(var e=0,g=l[e];e<l.length;e++){a.add(g,"focus",h)}}if(k){i=function(){k.parentNode.className+=d.className=" active";m.src="http://"+disqus_shortname+".disqus.com/embed.js"};a.add(k,"click",i);a.add(c,"click",i)}b=function(){var n=document.location.hash;if(n==="#sources"){h()}else{if(n.substr(1,7)==="comment"){i()}}};b();if(window.Modernizr.hashchange==true){a.add(window,"hashchange",b)}},15)})();</script>
