
	<!-- TODO You have to complete these footer links -->
	<footer>
		<p>
			Le Benj’ blog est hébergé sur
			<a href="https://github.com/bmenant/bmenant.github.com" class="github">GitHub Pages</a>.
			Les contenus sont mis à disposition sous licence
			<a href="http://creative-commons.org/" class="creative-commons">Creative Commons</a>.
		</p>
	</footer>

	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>
