  <footer id="footer" aria-live="off">
    <h2 class="visuallyhidden">À propos</h2>
    <dl id="a-propos">
      <dt>Hébergement du Benj’ blog sur</dt>
        <dd><a href="https://github.com/bmenant/bmenant.github.com" class="has-icon github">GitHub Pages</a>.</dd>
      <dt>Contenus du blog <span title="Sauf mention contraire explicite">mis à disposition</span> selon les termes de la Licence</dt>
        <dd><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.fr" class="has-icon creative-commons">Creative Commons (paternité, pas d’utilisation commerciale, partage à l’identique)</a>.</dd>
      <dt>Inspirations, pompages&nbsp;:</dt>
        <dd><a href="http://html5boilerplate.com/">HTML5&nbsp;★&nbsp;Boilerplate</a>,</dd>
        <dd><a href="http://paulrouget.com/">Paul Rouget</a>,</dd>
        <dd><a href="https://gist.github.com/1007813">Johan Sundström</a>,</dd>
        <dd><a href="http://www.alainsechas.com/">Alain Séchat</a>…</dd>
      <dt>Collectes de données anonymes,</dt>
        <dd>à des fins statistiques,</dd>
        <dd>réalisées avec <a href="http://piwik.org/">Piwik</a>&nbsp;;</dd>
        <dd>vous pouvez <a href="http://stats.menant-benjamin.fr/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=fr">refuser ces collectes</a>.</dd>
    </dl>
    <div><a href="#contenu" class="ir"
            onclick='document.getElementById("footer").className="";document.getElementById("item-a-propos").className="";'>
      Retourner au contenu
    </a></div>
  </footer>

  <!-- Piwik Tracking Code -->
  <script>
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.menant-benjamin.fr/" : "http://stats.menant-benjamin.fr/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js'%3E%3C/script%3E"));
  </script><script>
  try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
  } catch( err ) {}
  </script><noscript>
    <p><img src="http://stats.menant-benjamin.fr/piwik.php?idsite=1" style="border:0" alt="" /></p>
  </noscript>
  <!-- End Piwik -->
