<!-- Site wide header -->
<header id="header">
  {% if page.url == '/index.html' %}
  <h1>Le Benj’ Blog</h1>
  {% else %}
  <h1><a href="/" title="Page d’accueil">Le Benj’ Blog</a></h1>
  {% endif %}
  <p class="description">Recueil des dialogues de personnages imaginaires qui échangent librement et ouvertement à propos du Web, de tout et de rien… En somme, un blog allégorique d’une schizophrénie ordinaire.</p>
  <nav id="navigation">
    <h2 class="visuallyhidden">Navigation</h2>
    <ul>
      <!-- To the list of posts -->
      {% if page.url == '/index.html' %}
      <li class="contenu active"><a href="#contenu" title="Liste de tous les dialogues publiés">Dialogues</a></li>
      {% else %}
      <li class="contenu"><a href="/#contenu" title="Liste de tous les dialogues publiés">Dialogues</a></li>
      {% endif %}
      <!-- To the ATOM feed -->
      <li class="rss"><a href="/index.xml">Abonnement RSS</a></li>
      <!-- To the author Web page -->
      <li class="perso"><a  href="http://menant-benjamin.fr/" title="Quelques informations à propos de l’auteur">Benj’</a></li>
      <li id="item-a-propos"><a href="#a-propos" title="Mentions légales et crédits du Benj’ blog">À propos</a></li>
    </ul>
  </nav>
</header>
<!-- End header -->
