
<!doctype html>
<!--[if lt IE 7 ]> <html lang="fr" class="no-js ie6" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="no-js ie7" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="no-js ie8" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fr" class="no-js ie9" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js" dir="ltr"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Le Benj’ Blog, {{ page.title }}</title>
  <meta name="author" content="Benjamin MENANT" />
	<meta name="description" content="{{ page.description }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="stylesheet" href="/css/style.css?v=1" />
	<link rel="author" href="/humans.txt" />

  <script src="/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>

		<!-- TODO You have to do the work!
		<header>
				<a href="http://twitter.com/paulrouget" class="twitter-follow-button" data-button="grey" data-width="300px" data-text-color="#FAE50B" data-link-color="#FF0066">Follow @paulrouget</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
				<span id="rss-button">
						<svg viewbox="30 30 190 190">
								<circle cx="68" cy="189" r="24"/>
								<path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z"/>
								<path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z"/>
						</svg>
						Subscribe <a href="http://paulrouget.com/index.xml"><span>RSS</span></a></span>
		</header>

		<article>
				{{ content }}

				<footer>
						<a href="http://paulrouget.com">
								<img src="/assets/twitter_avatar.jpg"> Paul Rouget
						</a>
				</footer>

				<div id="meta">
						<span id="date">{{ page.date | date_to_string}} - </span>
						<a onclick="window.open('http://twitter.com/share?text={{page.title}}&via=paulrouget&url=http%3A%2F%2Fpaulrouget.com%2F{{page.url | xml_escape}}','','width=400,height=300,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); return false;" href="http://twitter.com/share?text={{page.title}}&via=paulrouget&url=http%3A%2F%2Fpaulrouget.com%2F{{page.url | xml_escape}}" id="twitter" title="tweet this" target="_blank">
								<span>tweet&nbsp;this</span>
								<img src="/assets/twitter.png">
						</a>
						{% if page.comments %}
						<a href="#comments" id="showcomments" onclick='document.getElementById("comments").className="showme";document.getElementById("disqus_script").src="http://disqus.com/forums/paulrouget/embed.js"'>show comments</a>
						{% endif %}
				</div>
		</article>
	-->
	<!-- TODO Do you really want comments?
		{% if page.comments %}
		<!-- comments --><!--
		<div id="comments">
				<h1 class="wooot">Comments</h1>
				<div id="disqus_thread"></div><script id="disqus_script"></script>
		</div>
		{% endif %}
	-->

	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>
