<!doctype html>
<!--[if lt IE 7 ]> <html lang="fr" class="no-js ie6" dir="ltr"> <![endif]-->
<!--[if IE 7 ]>    <html lang="fr" class="no-js ie7" dir="ltr"> <![endif]-->
<!--[if IE 8 ]>    <html lang="fr" class="no-js ie8" dir="ltr"> <![endif]-->
<!--[if IE 9 ]>    <html lang="fr" class="no-js ie9" dir="ltr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js" dir="ltr"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Le Benj’ Blog, {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />

  <link rel="alternate" type="application/atom+xml" href="/index.xml" />

  <meta name="author" content="Benjamin MENANT" />
  <link rel="author" href="/humans.txt" />

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css?v=1" />

  <script src="/js/libs/modernizr-1.7.min.js"></script>
</head>
<body class="clearfix">

  <article id="contenu"><div>
    <header>
      <h1>{{ page.title }}</h1>
      <div class="visuallyhidden">
        <a href="#navigation">Passer l’article pour aller au menu de navigation</a>
      </div>

      <p>
        <span class="visuallyhidden">Avec</span>
        {% for character in page.characters %}
        <span class="iir {{ character | downcase | replace: ' ', '-' }}">
          {{ character }}{% if forloop.rindex0 == 1 %} et {% elsif forloop.last %}.{% else %}, {% endif %}
        </span>
        {% endfor %}
      </p>
    </header>

    {{ content }}

    {% if page.comments %}
    <section id ="commentaires" class="hidden">
      <h1>Commentaires</h1>
      <div id="disqus_thread"></div><script id="disqus_script"></script>
    </section>
    {% endif %}

    <footer id="meta">
      <time id="date" datetime="{{ page.date | date: "%Y-%m-%d" }}">
      {{ page.date | date: "%d/%m/%Y" }}</time>

      <!-- TODO Set the src attribute for disqus… -->
      {% if page.comments %}
      <a href="#comments" id="showcomments" onclick='document.getElementById("commentaires").className="showme";document.getElementById("disqus_script").src=""'>Afficher les commentaires</a>
      {% endif %}
    </footer>
  </div></article>

  {% include header.html %}

  {% include footer.html %}

</body>
</html>
